
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;

body{
    height: 100vh;
    width: 100vw;
    overflow: auto;
    position: relative;
}

main{
    /* height: 100vh; */
    /* width: 100vw; */
    overflow: auto;
    position: relative;
}